<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>enable</key>
		<false/>
		<key>url</key>
		<string>https://slack.com/api/files.upload</string>
		<key>method</key>
		<string>POST</string>
		<key>name</key>
		<string>file</string>
		<key>parameters</key>
		<dict>
			<key>token</key>
			<string>xoxp-xxxxxxxxxx-xxxxxxxxxx-xxxxxxxxxx-xxxxxx</string>
			<key>channels</key>
			<string>yyyyyyyy</string>
			<key>title</key>
			<string>Screenshot.png</string>
		</dict>
	</dict>
	<dict>
		<key>enable</key>
		<false/>
		<key>url</key>
		<string>https://slack.com/api/files.upload</string>
		<key>method</key>
		<string>POST</string>
		<key>name</key>
		<string>file</string>
		<key>parameters</key>
		<dict>
			<key>token</key>
			<string>xoxp-xxxxxxxxxx-xxxxxxxxxx-xxxxxxxxxx-xxxxxx</string>
			<key>channels</key>
			<string>yyyyyyyy</string>
			<key>title</key>
			<string>Screenshot.png</string>
		</dict>
	</dict>
</array>
</plist>
